## Importing TensorFlow library and Checking Vesrion

In [2]:
import tensorflow as tf
tf.__version__ # Checking version

'2.15.0'

## Crreating a 1D TensorFlow Array and sanity chaceks

In [10]:
x = tf.range(12, dtype = tf.float32)
print(x)
print('The type of X is:',type(x))
print('The Number of elements in x is:', tf.size(x))
print('The shape of tensor is:', x.shape)

tf.Tensor([ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11.], shape=(12,), dtype=float32)
The type of X is: <class 'tensorflow.python.framework.ops.EagerTensor'>
The Number of elements in x is: tf.Tensor(12, shape=(), dtype=int32)
The shape of tensor is: (12,)

## Manipulating tensors

In [14]:
x_man = tf.reshape(x,(3,4)) # 3 rows and 4 columns
print(x_man)
print('----------------Method-2 for creating x_man--------------------------')
# We can achieve this by using (-1,4) or by using (3,-1)
x_man2 = tf.reshape(x, (-1,4))
print(x_man2)
print('----------------Method - 3 for creating x_man------------------------')
x_man3 = tf.reshape(x, (3,-1))
print(x_man3)

# This tesnor x_man/x_man2/x_man3 can be coveyed as a 4 vector repeating 3 times

tf.Tensor(
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]], shape=(3, 4), dtype=float32)
----------------Method-2 for creating x_man--------------------------
tf.Tensor(
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]], shape=(3, 4), dtype=float32)
----------------Method - 3 for creating x_man------------------------
tf.Tensor(
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]], shape=(3, 4), dtype=float32)

## Tensors with predetermined entries

In [18]:
print('----------------A 3D tensor having all entries equal to 0----------------------')
ten_1 = tf.zeros((2,3,4))
print(ten_1) # In plain English, it is a (3*4) matrix repeating 2 times
print('Number of Elements in ten_1 is:', tf.size(ten_1))
print('Shape of ten_1 is:', tf.shape(ten_1))

# We can achieve the same using the tf.ones((2,3,4)) code line.
# The resulting tensor will contain 24 elemnts all equal to 1.

----------------A 3D tensor having all entries equal to 0----------------------
tf.Tensor(
[[[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]], shape=(2, 3, 4), dtype=float32)
Number of Elements in ten_1 is: tf.Tensor(24, shape=(), dtype=int32)
Shape of ten_1 is: tf.Tensor([2 3 4], shape=(3,), dtype=int32)

## Tensor With Randomly Sampled Elements

In [20]:
print('----------A 2D Randomly Sampled Tensor---------------------')
ten_2 = tf.random.normal((3,4))
print(ten_2)

----------A 2D Randomly Sampled Tensor---------------------
tf.Tensor(
[[-0.7372891   2.2366188   1.9066384   0.9629631 ]
 [ 1.9267477  -1.742335   -1.1366998  -0.06294131]
 [-1.4197358   0.7971444   0.47814348 -1.0850741 ]], shape=(3, 4), dtype=float32)

## Creating a Constant Tensor

In [22]:
print('Çreating A Simple  2D Constant Tensor')
ten_3 = tf.constant([[2, 1, 4, 3], [1, 2, 3, 4], [4, 3, 2, 1]])
print(ten_3) # Constant Tensors are immutable, just like Tupples

print('-------------------Create A 3D Constant Tensor--------------')
ten_4 = tf.constant([[[74, 128], [79, 116], [71, 116]],
              [[78, 118], [82, 124], [72, 128]],
              [[84, 138], [84, 130], [74, 120]],
              [[82, 126], [76, 156], [82, 132]]])
print(ten_4)

# The shape is (4,3,2)
# This can be thought as a (3*2) object repeating 4 times
# We consider two features for 3 patients across 4 different time stamps.
# The axes are represented as 0th axis, 1st axis and 2nd axis.
# So, 0th axis indicates timestamps; 1st axis indicates patient and 2nd axis indicates features.

Çreating A Simple  2D Constant Tensor
tf.Tensor(
[[2 1 4 3]
 [1 2 3 4]
 [4 3 2 1]], shape=(3, 4), dtype=int32)
-------------------Create A 3D Constant Tensor--------------
tf.Tensor(
[[[ 74 128]
  [ 79 116]
  [ 71 116]]

 [[ 78 118]
  [ 82 124]
  [ 72 128]]

 [[ 84 138]
  [ 84 130]
  [ 74 120]]

 [[ 82 126]
  [ 76 156]
  [ 82 132]]], shape=(4, 3, 2), dtype=int32)

## Transform the Tensor named ten_4

In [27]:
# Transpose operation
tran_ten_4 = tf.transpose(ten_4, perm = [1,0,2])
print(tran_ten_4)
print('The Shape of Tran_ten_4 is:', tf.shape(tran_ten_4))

# Shape of tran_ten_4 is (3,4,2)
# We go from (0-timestamps, 1-patients, 2-features) to (1-patients, 0-timestamps, 2-features)
# In Plain English it is a (4*2) matrix repeating 3 times.
# We consider 2 features across 4 timestamps for 3 patients.
# So, 0th axis indicates timestamps; 1st axis indicates patient and 2nd axis indicates features.

tf.Tensor(
[[[ 74 128]
  [ 78 118]
  [ 84 138]
  [ 82 126]]

 [[ 79 116]
  [ 82 124]
  [ 84 130]
  [ 76 156]]

 [[ 71 116]
  [ 72 128]
  [ 74 120]
  [ 82 132]]], shape=(3, 4, 2), dtype=int32)
The Shape of Tran_ten_4 is: tf.Tensor([3 4 2], shape=(3,), dtype=int32)

![image.png]()

## Indexing and Slicing in Tenors

In [39]:
# Axis order: (1-patients, 0-timestamps, 2-features)
print('1st feature for 1st time stamp for 1st patient:', T[0,0,0])
print('All features for 1st time stamp for 1st patient:', T[0,0,:])
print(' All features for 1st time stamp for second patient:', T[1,0,:])
print('All feature for last time stamp for 1st patient:', T[0,-1,:])
print('All features for last time stamp for all patients:', T[:,-1,:])
print('Last Feature for all Time stamps for all patients:', T[:,:,-1])

1st feature for 1st time stamp for 1st patient: tf.Tensor(74, shape=(), dtype=int32)
All features for 1st time stamp for 1st patient: tf.Tensor([ 74 128], shape=(2,), dtype=int32)
 All features for 1st time stamp for second patient: tf.Tensor([ 79 116], shape=(2,), dtype=int32)
All feature for last time stamp for 1st patient: tf.Tensor([ 82 126], shape=(2,), dtype=int32)
All features for last time stamp for all patients: tf.Tensor(
[[ 82 126]
 [ 76 156]
 [ 82 132]], shape=(3, 2), dtype=int32)
Last Feature for all Time stamps for all patients: tf.Tensor(
[[128 118 138 126]
 [116 124 130 156]
 [116 128 120 132]], shape=(3, 4), dtype=int32)

## Variable Tensors

In [53]:
# There are concepts of constant tensors in which the entries can't be changed..
# In variable tensors we can achieve mutability in tensors
x = tf.reshape(x,(3,4))
print(x) # This is a Constant Tensor, immutable in nature

print('----------------------Example of Variable Tensors--------------------')

# Converting the constant tensor into a variable tensor
x_var = tf.Variable(x)
x_var[1,2].assign(6000) # We are changing the element 6 to 6000 (Python indexing starts from 0)
print(x_var)

print('------Changing Multiple Elements in x_var----------------------------')

# We can also change multiple elements in one shot as shown below
x_var = tf.Variable(x)
x_var
# We want to change the first two rows and assign a value 12 in those spots
x_var[:2,:].assign(tf.ones(x_var[:2,:].shape, dtype = tf.float32)*12)
print(x_var)

print('----------What Comes in the assign part-----------------------')
print(tf.ones(x_var[:2,:].shape, dtype = tf.float32)*12) # It is a (2*4) matrix full of 12

tf.Tensor(
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]], shape=(3, 4), dtype=float32)
----------------------Example of Variable Tensors--------------------
<tf.Variable 'Variable:0' shape=(3, 4) dtype=float32, numpy=
array([[0.0e+00, 1.0e+00, 2.0e+00, 3.0e+00],
       [4.0e+00, 5.0e+00, 6.0e+03, 7.0e+00],
       [8.0e+00, 9.0e+00, 1.0e+01, 1.1e+01]], dtype=float32)>
------Changing Multiple Elements in x_var----------------------------
<tf.Variable 'Variable:0' shape=(3, 4) dtype=float32, numpy=
array([[12., 12., 12., 12.],
       [12., 12., 12., 12.],
       [ 8.,  9., 10., 11.]], dtype=float32)>
----------What Comes in the assign part-----------------------
tf.Tensor(
[[12. 12. 12. 12.]
 [12. 12. 12. 12.]], shape=(2, 4), dtype=float32)

## Tensor Operations

In [58]:
print('-----------------------The Tensor x in hand-----------------')
print(x)

print('Raising each elemet to its Exponential power')
exp_x = tf.exp(x)
print(exp_x)

# Creating two tensors and applying operations
a = tf.constant([1,2,4,8])
b = tf.constant([2,2,2,2])

print('---------------------Starting of Tensor Operations------------------------')

print('Tensor Addition results in:', a+b)
print('Tensor Subtraction results in:', a-b)
print('Elementwise Tensor Multiplication results in:', a*b) # Known as Hadamard Product
print('Elementwise Tensor Multiplication results in:', a/b)
print('Elementwise raising one tensor to another results in:', a**b)

-----------------------The Tensor x in hand-----------------
tf.Tensor(
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]], shape=(3, 4), dtype=float32)
Raising each elemet to its Exponential power
tf.Tensor(
[[1.0000000e+00 2.7182817e+00 7.3890562e+00 2.0085537e+01]
 [5.4598148e+01 1.4841316e+02 4.0342877e+02 1.0966332e+03]
 [2.9809580e+03 8.1030840e+03 2.2026465e+04 5.9874141e+04]], shape=(3, 4), dtype=float32)
---------------------Starting of Tensor Operations------------------------
Tensor Addition results in: tf.Tensor([ 3  4  6 10], shape=(4,), dtype=int32)
Tensor Subtraction results in: tf.Tensor([-1  0  2  6], shape=(4,), dtype=int32)
Elementwise Tensor Multiplication results in: tf.Tensor([ 2  4  8 16], shape=(4,), dtype=int32)
Elementwise Tensor Multiplication results in: tf.Tensor([0.5 1.  2.  4. ], shape=(4,), dtype=float64)
Elementwise raising one tensor to another results in: tf.Tensor([ 1  4 16 64], shape=(4,), dtype=int32)

## Concatenation Operation of Tensors

In [61]:
x = tf.reshape(tf.range(12, dtype=tf.float32), (3, 4))
y = tf.constant([[2.0, 1, 4, 3], [1, 2, 3, 4], [4, 3, 2, 1]])
print('Shape of the Tensor x is:', x.shape)
print('Shape of the Tensor y is:', y.shape)
xcy0 = tf.concat([x, y], axis=0) # Top to bottom ; vertical concatnation ; x on top of y
xcy1 = tf.concat([x, y], axis=1) # Left to right ; horizontal concatenation ; x on left  of y
print('-------------------------Vertical Concatenation x on top of y------------')
print(xcy0)
print('Shape of Vertical Concatenation:', xcy0.shape)
print('-------------------------Horizontal Concatenation x on left of y---------')
print(xcy1)
print('Shape of Horizontal Concatenation:', xcy1.shape)

Shape of the Tensor x is: (3, 4)
Shape of the Tensor y is: (3, 4)
-------------------------Vertical Concatenation x on top of y------------
tf.Tensor(
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]
 [ 2.  1.  4.  3.]
 [ 1.  2.  3.  4.]
 [ 4.  3.  2.  1.]], shape=(6, 4), dtype=float32)
Shape of Vertical Concatenation: (6, 4)
-------------------------Horizontal Concatenation x on left of y---------
tf.Tensor(
[[ 0.  1.  2.  3.  2.  1.  4.  3.]
 [ 4.  5.  6.  7.  1.  2.  3.  4.]
 [ 8.  9. 10. 11.  4.  3.  2.  1.]], shape=(3, 8), dtype=float32)
Shape of Horizontal Concatenation: (3, 8)

## Binary Tensor Via Logical Statement

In [63]:
print('-------------First Tensor-----------')
print(x)
print('---------- Second Tensor----------')
print(y)

print(x == y) # Gives false when corresponding elements do not match and true when corresponding element matches

-------------First Tensor-----------
tf.Tensor(
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]], shape=(3, 4), dtype=float32)
---------- Second Tensor----------
tf.Tensor(
[[2. 1. 4. 3.]
 [1. 2. 3. 4.]
 [4. 3. 2. 1.]], shape=(3, 4), dtype=float32)
tf.Tensor(
[[False  True False  True]
 [False False False False]
 [False False False False]], shape=(3, 4), dtype=bool)

## Advanced Operations on Tensor

In [74]:
print('-------------------Applying the reduce_sum function------------------------------')
print(x)
print('Sum of All elements of the Tensor is:', tf.reduce_sum(x))

# This reduce_sum function is also applicable along axis
print('Sum of Elements along axis 0 is:', tf.reduce_sum(x, axis = 0))
# Axis 0 summs the column wise elements, matches with shape, which is (3,4); take three elements and sums it up

print(print('Sum of Elements along axis 1 is:', tf.reduce_sum(x, axis = 1)))
# Axis 1 summs the row wise elements, matches with shape, which is (3,4); take four elements and sums it up

print('------------------Applying the reduce_mean function-----------------------------')
# Axis order: 0-Patient ; 1-time stamps ; 2-features
print(T.shape)
print(T)
print('How does an average patient looks like across all time stamps:', tf.math.reduce_mean(T, axis = 0))
print('How does a patient behaves across average time stamp:', tf.math.reduce_mean(T, axis = 1))

-------------------Applying the reduce_sum function------------------------------
tf.Tensor(
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]], shape=(3, 4), dtype=float32)
Sum of All elements of the Tensor is: tf.Tensor(66.0, shape=(), dtype=float32)
Sum of Elements along axis 0 is: tf.Tensor([12. 15. 18. 21.], shape=(4,), dtype=float32)
Sum of Elements along axis 1 is: tf.Tensor([ 6. 22. 38.], shape=(3,), dtype=float32)
None
------------------Applying the reduce_mean function-----------------------------
(3, 4, 2)
tf.Tensor(
[[[ 74 128]
  [ 78 118]
  [ 84 138]
  [ 82 126]]

 [[ 79 116]
  [ 82 124]
  [ 84 130]
  [ 76 156]]

 [[ 71 116]
  [ 72 128]
  [ 74 120]
  [ 82 132]]], shape=(3, 4, 2), dtype=int32)
How does an average patient looks like across all time stamps: tf.Tensor(
[[ 74 120]
 [ 77 123]
 [ 80 129]
 [ 80 138]], shape=(4, 2), dtype=int32)
How does a patient behaves across average time stamp: tf.Tensor(
[[ 79 127]
 [ 80 131]
 [ 74 124]], shape=(3, 2), dtype=int32)

## Concept of Broadcasting in Tensors

In [76]:
a = tf.reshape(tf.range(3), (3, 1))
b = tf.reshape(tf.range(2), (1, 2))
print(a)
print(b)
# It is clear that they have different shapes

print('Broadcasted values of a+b is:', a+b)

tf.Tensor(
[[0]
 [1]
 [2]], shape=(3, 1), dtype=int32)
tf.Tensor([[0 1]], shape=(1, 2), dtype=int32)
Broadcasted values of a+b is: tf.Tensor(
[[0 1]
 [1 2]
 [2 3]], shape=(3, 2), dtype=int32)